@-webkit-keyframes moveUp { from { opacity:0; top: 10px; } to { opacity:1; top: 0px; } }
@keyframes moveUp { from { opacity:0; top: 10px; } to { opacity:1; top: 0px; } }
@-webkit-keyframes welcomeIn { from { opacity:0; top: -20px; } to { opacity:1; top: 0px; } }
@keyframes welcomeIn { from { opacity:0; top: -20px; } to { opacity:1; top: 0px; } }

body {
    background-color: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;

    ::selection {
        background: #ffb7b7;
    }

    ::-moz-selection {
        background: #ffb7b7;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .back-to-top {
        display: none;
        position: fixed;
        bottom: 55px;
        right: 10px;
        text-decoration: none;
        color: #7c7c7c;
        background-color: rgba(183, 183, 183, 0.30);
        font-size: rem-calc(12px);
        font-family: 'Raleway', sans-serif;
        padding: 1em;

        @media #{$medium-up} {
            display: block;
        }
    }

    .back-to-top:hover {
        background-color: rgba(255, 255, 255, 0.80);
        border: 1px solid #ddd;
    }

    .wrapper {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;

        header {
            .logo {
                margin: 30px auto;
                width: 84px;
                height: 90px;
                position: relative;
                -webkit-animation-name: moveUp;
                -webkit-animation-duration: 0.7s;
                -webkit-animation-timing-function: ease-in-out;
                -webkit-animation-fill-mode: forwards;
                animation-name: moveUp;
                animation-duration: 0.7s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
            }

            nav {
                width: 100%;
                max-width: 300px;
                height: 20px;
                margin: 0 auto;

                ul {
                    list-style-type: none;
                    margin-left: 0;

                    li {
                        float: left;
                        width: 100px;
                        padding: 5px 0;
                        text-align: center;

                        a {
                            font-size: rem-calc(14px);
                            font-family: 'Raleway', sans-serif;
                            font-weight: 700;
                            color: #525252;

                            -webkit-transition:all 0.3s ease-in-out;
                            -moz-transition:all 0.3s ease-in-out;
                            -o-transition:all 0.3s ease-in-out;
                            -ms-transition:all 0.3s ease-in-out;
                        }

                        a::before, a::after {
                            display: inline-block;
                            opacity: 0;
                            -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
                            -moz-transition: -moz-transform 0.3s, opacity 0.2s;
                            transition: transform 0.3s, opacity 0.2s;
                        }

                        a::before {
                            margin-right: 5px;
                            content: '•';
                            -webkit-transform: translateX(10px);
                            -moz-transform: translateX(10px);
                            transform: translateX(10px);
                        }

                        a::after {
                            margin-left: 5px;
                            content: '•';
                            -webkit-transform: translateX(-10px);
                            -moz-transform: translateX(-10px);
                            transform: translateX(-10px);
                        }

                        a:hover::before, a:hover::after, a:focus::before, a:focus::after {
                            opacity: 1;
                            -webkit-transform: translateX(0px);
                            -moz-transform: translateX(0px);
                            transform: translateX(0px);
                        }
                    }
                }

                ul:hover a {
                    color: rgba(82,82,82, 0.3);
                }

                ul:hover a:hover {
                    color: rgba(82,82,82, 1);
                }
            }
        }

        .divider {
            margin: 40px auto 30px auto;
            width: 89px;
            height: 18px;
            background-image: url('../img/divider.png');
            background-repeat: no-repeat;
        }

        .welcome {
            width: 100%;
            margin: 0 auto 50px auto;
            height: 200px;
            padding: 0 20px;

            p {
                margin: 40px auto 0 auto;
                font-family: 'Raleway', sans-serif;
                font-size: rem-calc(24px);
                font-weight: 400;
                line-height: 35px;
                text-align: center;
                color: #7c7c7c;

                opacity: 0;
                position: relative;
                -webkit-animation-name: welcomeIn;
                -webkit-animation-duration: 1s;
                -webkit-animation-timing-function: ease-in-out;
                -webkit-animation-fill-mode: forwards;
                animation-name: welcomeIn;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;

                @media #{$medium-up} {
                    margin-top: 70px;
                    font-size: rem-calc(60px);
                    line-height: 30px;
                    max-width: 580px;
                }

                span {
                    display: inline;
                    white-space: pre-wrap;
                    color: #fff;
                    font-size: rem-calc(24px);
                    font-weight: 200;
                    background-color: #2f2f2f;

                    @media #{$medium-up} {
                        font-size: rem-calc(30px);
                    }
                }
            }
        }

        .tiles-container {
            @include grid-row();
            list-style-type: none;

            @media #{$medium-up} {
                max-width: 860px;
            }

            li {
                @include grid-column();
                // width: 400px;
                // height: 312px;
                margin: 15px 0;
                border-radius: 8px;
                border: thin;
                display: inline-block;

                figure:hover figcaption, figure:focus figcaption{
                    opacity: 1;
                }

                figure {
                    margin: 0;
                    position: relative;

                    img {
                        max-width: 100%;
                        display: block;
                        position: relative;
                    }

                    figcaption {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(69, 68, 76, 0.8);
                        color: white;

                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                        border: thin;
                        opacity: 0;
                        text-align: center;
                        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
                        transition: transform 0.3s, opacity 0.3s;

                        h3 {
                            max-width: 300px;
                            margin: 20px auto 0 auto;
                            font-size: rem-calc(16px);
                            font-family: 'Raleway', sans-serif;
                            letter-spacing: 0.5px;
                            color: #fff;

                            @media #{$medium-up} {
                                margin: 80px auto 10px auto;
                                font-size: rem-calc(24px);
                            }
                        }

                        span {
                            width: 150px;
                            height: 20px;
                            font-size: rem-calc(14px);
                            font-family: 'Raleway', sans-serif;
                            font-weight: 300;
                            letter-spacing: 0.5px;

                            @media #{$medium-up} {
                                font-size: rem-calc(16px);
                            }
                        }

                        a {
                            text-align: center;
                            width: 160px;
                            margin-top: 40px;
                            padding: 10px 0;
                            display: inline-block;
                            border: 1px solid rgba(208, 206, 208, 0.5);
                            color: #d0ced0;
                            font-family: 'Raleway', sans-serif;
                            font-weight: 600;
                            -webkit-transition:all 0.3s ease-in-out;
                            -moz-transition: all 0.30s ease-in-out;
                            -ms-transition: all 0.30s ease-in-out;
                            -o-transition: all 0.30s ease-in-out;
                        }

                        a:hover {
                            border-radius: 5px;
                            border: 1px solid #fff;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    footer {
        text-align: center;
        background-color: #fff;
        border-top: 1px solid #ddd;
        padding: 10px 0;
        font-size: rem-calc(11px);
        font-family: Arial, sans-serif;
    }
}