.contact-content
	width 100%
	margin 0 auto 200px auto
	padding-top 10px
	+from-width(640px)
		max-width 960px
	
	.freelance-status
		width 100%
		display inline-block
		set-font-size(18px)
		font-family open-sans
		font-weight 300
		text-align center
		margin-bottom 30px
		padding 0 20px
		+from-width(640px)
			padding 0