footer {
	background-color: #eee;
	min-height: 95px;
	text-align: center;
	padding: 20px 0;
	ul.social {
		margin: 0 auto 15px auto;
		padding: 0;
		li {
			display: inline-block;
			position: relative;
			a {
				font-weight: 400;
				text-transform: initial;
				font-size: rem-calc(14);
			}
			a:after {
				content: "";
				width: 0%;
				height: 1px;
				background-color: #666;
				display: block;
				position: absolute;
				bottom: 1px;
				@include web-transition;
			}
			a:hover:after {
				@media #{$medium-up} {
					width: 100%;
				}
			}
			span {
				color: $lightBlue;
				display: inline-block;
				margin: 0 10px;
				@include web-transition;
				@media #{$medium-up} {
					margin: 0 20px;
				}
			}
			span:hover {
				@media #{$medium-up} {
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-ms-transform: rotate(180deg);
					-o-transform: rotate(180deg);
					transform: rotate(180deg);
				}
			}
		}
	}
	.copyright {
		font-size: rem-calc(12);
	}
}