.intro-content {
	width: 100%;
	margin: 0 auto 50px auto;
	height: 100vh;
	text-align: center;
	position: relative;
	padding: 35vh 20px 0 20px;
	background: url(../../img/bg-dark.jpg) center no-repeat #101010;
	background-size: cover;
	span {
		display: inline;
		padding: 8px;
		line-height: 3.4;
		text-transform: uppercase;
		font-size: rem-calc(13);
		font-family: $raleway;
		letter-spacing: 5px;
		font-weight: 600;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
		background-color: #fff;
		color: #fff;
		@media #{$medium-up} {
			line-height: 3;
			padding: 10px 15px;
			font-size: rem-calc(20);
		}
	}
	.show-out, .show-out2, .show-out3 {
		animation: shadowOut 0.6s ease-in-out;
		animation-fill-mode: both;
	}
	.show-out {
		animation-delay: 1s;
	}
	.show-out2 {
		animation-delay: 1.3s;
	}
	.show-out3 {
		animation-delay: 1.6s;
	}
	.scroll-down-indicator:before {
		content: 'scroll';
		display: block;
		color: #fff;
		font-size: rem-calc(12);
		text-transform: lowercase;
		font-family: $open-sans;
		position: absolute;
		top: -35px;
		left: -16px;
		letter-spacing: 1px;
	}
	.scroll-down-indicator {
		-webkit-animation: 2.5s bounce ease-in-out infinite;
		-moz-animation: 2.5s bounce ease-in-out infinite;
		-o-animation: 2.5s bounce ease-in-out infinite;
		animation: 2.5s bounce ease-in-out infinite;
		position: absolute;
		bottom: rem-calc(20);
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: #fff transparent transparent transparent;
		@media #{$large-up} {
			border-width: 15px 15px 0 15px;
		}
	}
	&.project-intro {
		margin: 0 auto 20px auto;
		@media #{$large-up} {
			padding: 22vh 20px 0 20px;
			height: 50vh;
		}
	}
	&.lexus-rsvp {
		background: url(../../img/lexus/header_bg.jpg) 70% no-repeat #101010;
		background-size: cover;
		@media #{$large-up} {
			background-position: center;
		}
	}
	&.hsd {
		background: url(../../img/toyota/hsd/header_bg.jpg) center no-repeat #101010;
		background-size: cover;
	}
	&.hilux-urban-hero {
		background: url(../../img/toyota/urban_hero/header_bg.jpg) top no-repeat #101010;
		background-size: cover;
	}
	&.new-camry {
		background: url(../../img/toyota/new_camry/header_bg.jpg) center no-repeat #101010;
		background-size: cover;
		@media #{$large-up} {
			background-position: 0% 45%;
		}
	}
	&.batch-tracker {
		background: url(../../img/friso/header_bg.jpg) center no-repeat #101010;
		background-size: cover;
		@media #{$large-up} {
			background-position: 0% 20%;
		}
	}
	// &.cny {
	// 	background: url(../../img/toyota/cny_2015/header_bg.jpg) center no-repeat #101010;
	// 	background-size: cover;
	// }
	&.haiwan-ladang {
		background: url(../../img/smartmoments/header_bg.jpg) top no-repeat #101010;
		background-size: cover;
	}
	&.resolution-driver {
		background: url(../../img/toyota/resolution_driver/header_bg.jpg) top no-repeat #101010;
		background-size: cover;
	}
	&.kevin-yap {
		background: url(../../img/kevinyap/header_bg.jpg) center no-repeat #101010;
		background-size: cover;
	}
	&.mini {
		background: url(../../img/mini/header_bg.jpg) center no-repeat #101010;
		background-size: cover;
	}
}