.content
	width 100%
	.divider
		width 100%
		height 1px
		opacity 0.5
		background-color #d6d6d6
		margin 100px auto
		transform skewY(-10deg)
		+from-width(640px)
			margin 200px auto 150px auto
	@import "_intro-content"
	@import "_about-content"
	@import "_work-content"
	@import "_contact-content"