.content {
	width: 100%;
	.divider {
		width: 100%;
		height: 1px;
		opacity: 0.5;
		background-color: #d6d6d6;
		margin: 100px auto;
		-webkit-transform: skewY(-10deg);
		-moz-transform: skewY(-10deg);
		-ms-transform: skewY(-10deg);
		-o-transform: skewY(-10deg);
		transform: skewY(-10deg);
		@media #{$medium-up} {
			margin: 200px auto 150px auto;
		}
	}
	@import "intro-content";
	@import "about-content";
	@import "work-content";
	@import "contact-content";
}