//Useful Mixins

//@font-face (from Bourbon: http://bourbon.io/)
// Order of the includes matters, and it is: normal, bold, italic, bold+italic.

// @mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
//   @font-face {
//     font-family: $font-family;
//     font-weight: $weight;
//     font-style: $style;

// 	src: url('#{$file-path}.eot');
// 	src: url('#{$file-path}.eot?#iefix')               format('embedded-opentype'),
// 	   url('#{$file-path}.woff')                     format('woff'),
// 	   url('#{$file-path}.ttf')                      format('truetype'),
// 	   url('#{$file-path}.svg##{$font-family}')      format('svg');
//   }
// }

vertical-align() {
  position relative
  top 50%
  transform translateY(-50%)
}

set-font-size(value) {
    font-size: value; // add PX (or original value) as backup

    if (value is inherit) {
        /* do nothing, "inherit" has no unit */
    } else {
        font-size: remify(value);
    }
}

remify(value) { /* separate mixin, so it can be used elsewhere */
    u = unit(value);

    if (u is 'px') {
        return unit(value/16, 'rem');
    } else {
        return unit(value, u);
    }
}